<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container-custom {
            width: 320px;
            margin: auto;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
    </style>
    {% include "header.html" %}
</head>
<body>
<div class="container-custom px-4 py-5 my-5">
    <form action="/search_results" method="POST">
        <div class="form-group mb-3">
            <label for="car_park_location" class="form-label">Car Park:</label>
            <select id="car_park_location" class="form-select" name="car_park_location" required>
                {% for location in distinct_locations %}
                    <option value="{{ location[0] }}">{{ location[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" id="start_date" name="start_date" class="form-control" min="yyyy-mm-dd" required>
        </div>
        <div class="mb-3">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" id="end_date" name="end_date" class="form-control" min="yyyy-mm-dd" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
{% include "footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script>
    document.getElementById('start_date').addEventListener('change', function () {
        document.getElementById('end_date').min = this.value;
    });
</script>
</body>
</html>
